/* CSS reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0;
}
/* Header */
.header{
    background-color: #117A25;
    padding:20px;
}

.header__titulo{
    color: #F2F2F2;
    font-style: normal;
    font-family:'Roboto', 'sans-serif';
    padding: 20px

}
.header__titulo--instituto{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
}
.header__titulo--curso{    
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

/* Menu */
.menu{
    background-color: #00420C;
    list-style: none;
    display: flex;
    flex-direction: column;
}
@media(min-width:600px){
.menu{
    flex-direction: row;
}
}

.menu__item{
    padding: 5px;
}
.menu__item > a{
    text-decoration: none;
    color:#F2F2F2; 
    
    
}
.menu__item > a:hover{
    background-color: white;
    color: #00420C;
    display: block;
}


/* Main */
.main{
    margin: 0,auto;
    padding: 30px;
    display:flex;
    flex-wrap: wrap
}

@media (min-width:600px){
    
}
.section{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

@media(min-width:600px){
    .section{
        max-width: 800px;
    }
}

.subtitulo{
    font-family: 'Roboto','Sans-serif';
    text-align: center;
    font-size: 24px;
    color: #00420C;
    padding: 10px;
}
.texto{
    text-align: justify;
    display: inline-block;
    
}

.notaCurso{
    background-color: #117A25;
    border-radius: 5px;
    padding:20px;
    margin: 0 auto;
    display: block;
    width: 400px;
    text-align: center;
    color:white;
    font-family: 'Roboto','Sans-serif';
      
}

.notaCurso__conceito{
    padding: 15px;
    
}
.imagemCoordenador{
    margin: 0 auto;
    border: 2px solid #00420C;
    border-radius: 10px;
        
}

/* Footer */

.footer{
    background-color: #00420C;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
@media(min-width:600px){
    .footer{
        flex-direction: row
    }
}
.footer__logo{
    padding:5px;
    margin-top:10px;
    max-width: 100px;
    
}
.footer__text{
    padding:20px;
    color:white;
    text-align: left;
}



/* MATERIAS */

.tabelas{
    display: block;
    margin-left: auto;
    margin-right:auto;
    max-width: 1200px;
}
 .tabela, .table th, table{
     border: 1px solid black;
     border-collapse: collapse;
     width: 300px;

 }
 .tabela tr>th{
     border: 1px solid black;
     background-color: lightgrey;
     text-align: center;
     font-size: 20px;
     font-family: 'Roboto','Sans-serif';
     font-weight: lighter;
}
.tabela tr>td{
    padding-left: 10px;
}

@media(min-width:600px){
    .tabela{
        display:inline-flex;
        border-collapse: collapse;
        justify-items: center;

    }
    .tabela, .table th,table{
        width: 450px;
        height: 200px;
        margin:-1.9px

    }
    .tabela tr>th{
        width:450px;
    }

}


/* FORMULÃRIO */

.label{
    color:rgb(11, 165, 39);
    font-size:18px;
}

.textfield{
    border:0;
    border-bottom: 1px #00420C solid;
    margin: 10px auto 10px;
    width: 100%;
    outline: 0;
    display: block;

}

@media(min-width:630px){
    .textfield{
        width: 600px
    }
}

.btn{
    background-color: #117A25;
    color: white;
    width: 70px;
    padding:5px;
    border-radius: 5px;
    border: 0;
    display: block;
    float: right;
    margin-top: 10px;
    
}

/* PROFESSORES */

.professores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 20px
    
}
.prof{
    display:flex;
    padding: 15px;
    max-width: 400px  
}
.prof__img{
    border: 2px #00420C solid;
    border-radius: 10px;
}
.info{
    margin-left: 20px;
    color: #00420C;
    
    
}.info >p{
    font-size:20px;
    font-family: 'Roboto','Sans-serif';
}